.tabs-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: var(--background-color);
}
.tab, .tab-selected{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 25px;
    padding-left: 5px;
    margin: 2px;
    background-color: var(--background-highlight-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.tab-selected{
    background-color: var(--background-dark-color);
}
.tab .name, .tab-selected .name{
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    color: var(--text-color);
}

.tab .animated-name, .tab-selected .animated-name{
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    color: white;
    animation: scrollText 10s linear infinite;
}

.tab button, .tab-selected button{
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transform: translate(0, -50%);
    border: none;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: all 300ms;
}

.tab button:hover, .tab-selected button:hover{
    background-color: red;
}

@keyframes scrollText {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (250px <= width <= 600px){
    .tabs-container{
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: var(--background-color);
    }
    .tab, .tab-selected{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 150px;
        height: 45px;
        padding-left: 5px;
        margin: 2px;
        background-color: var(--background-highlight-color);
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
    }
    .tab-selected{
        background-color: var(--background-dark-color);
    }
}