.taskFlow-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}
.app-container{
    display: flex;
}
.work-container{
    width: 83%;
}

.start-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.start-project img{
    width: 40%;
    filter: brightness(0.8);
}
.start-project h3{
    font-size: 20px;
    color: white;
    filter: brightness(0.8);
}