.taskFlow-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}
.app-container{
    display: flex;
}
.work-container{
    flex: 5;
}