.projects-nav-hidden{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 17%;
    height: calc(100vh - 50px);
    background-color: var(--background-highlight-color);
    transition: all 300ms;
}

.projects-nav-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 17%;
    height: calc(100vh - 50px);
    background-color: var(--background-highlight-color);
    transition: all 300ms;
}

.new-project{
    margin: 10px;
    position: absolute;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
.new-project:hover{
    filter: brightness(0.95);
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 90%;
    height: 100%;
    margin-top: 50px;
    padding: 5%;
    overflow: scroll;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 10px);
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-color);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

.project-selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 10px);
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-dark-color);
    filter: brightness(0.95);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

.project h3, .project-selected h3{
    font-size: 15px;
    font-weight: normal;
}

.delete-project{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.delete-project:hover{
    transform: scale(1.2);
}

.show-navBar{
    display: none;
}

@media (250px <= width <= 1000px){
    .projects-nav-hidden{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        max-width: 50%;
        height: 100vh;
        padding: 10px;
        background-color: var(--background-highlight-color);
        transition: all 300ms;
        z-index: 3;
        transform: translate(-100%, 0);
    }
    .projects-nav-container{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        max-width: 50%;
        height: 100vh;
        padding: 10px;
        background-color: var(--background-highlight-color);
        transition: all 300ms;
        z-index: 3;
        box-shadow: 0px 0px 5px -1px black;
    }
    .show-navBar{
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(0, calc(-50% - 100px));
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 150px;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: var(--main-color);
        color: var(--text-color);
        box-shadow: 1px 0px 5px -2px black;
    }
    .open-button{
        width: 30px;
    }
    .close-button{
        width: 30px;
        transform: rotate(180deg);
    }
}